@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="nav">
        <!-- Nav PC -->
        <nav class="nav__pc">
            <ul class="nav__list">
                <li>
                    <a href="" class="nav__link">Home</a>
                </li>
                <li>
                    <a href="" class="nav__link">About</a>
                </li>
                <li>
                    <a href="" class="nav__link">Category</a>
                </li>
                <li>
                    <a href="" class="nav__link">News</a>
                </li>
                <li>
                    <a href="" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        
        <div class="block"></div>
        <!-- hamburger button -->
        <button class="hamburger hamburger--slider-r" id="button-nav">
            <label for="nav-mobile-input" class="lbl-hamberger">
                <div class="hamburger-content">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </label>
        </button>
        

        <input type="checkbox" name="" class="nav-input" id="nav-mobile-input" hidden/>
        
        <!--overlay-->
        <label for="nav-mobile-input" class="nav__overlay" id="overlay">
        </label>
        <nav class="nav__mobile">
            <ul class="nav__mobile-list">
                <li>
                    <a href="" class="nav__mobile-link">Home</a>
                </li>
                <li>
                    <a href="" class="nav__mobile-link">About</a>
                </li>
                <li>
                    <a href="" class="nav__mobile-link">Category</a>
                </li>
                <li>
                    <a href="" class="nav__mobile-link">News</a>
                </li>
                <li>
                    <a href="" class="nav__mobile-link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>